* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  button:focus {
    outline: none;
  }
  
  header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background: #997782;
  }
  
  header h1 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    font-family: 'Cedarville Cursive';font-size: 26px;
  }
  
  header button {
    font: inherit;
    padding: 0.5rem 1rem;
    background: #aa7883;
    border: 1px solid#aa7883;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
  }
  
  header button:hover,
  header button:active {
    background: #a06267;
    border-color:#a06267;
    color: white;
  }
  
/* color */
  label {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
  }
  
  input {
    font: inherit;
    border: 1px solid #ccc;
    padding: 0.4rem 0.2rem;
    color: #383838;
  }
  
  /* color */
  input:focus {
    outline: none;
    background: #fff1c4;
  }
  
  .btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #aa7883;
    background: #aa7883;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    margin: 0 0.5rem;
  }
  
  .btn:hover,
  .btn:active {
    background: #a06267;
    border-color: #a06267;
  }
  
  .btn--passive {
    color: #aa7883;
    background: transparent;
    border: none;
    box-shadow: none;
  }
  
  .btn--passive:hover,
  .btn--passive:active {
    background: #f4ecef;
  }
  
   /* color */
  .btn--danger {
    background: #d30808;
    color: white;
    border-color: #d30808;
  }
  
  .btn--danger:hover,
  .btn--danger:active {
    background: #ff3217;
    border-color: #ff3217;
  }
  
  .modal {
    position: fixed;
    z-index: 100;
    background: white;
    border-radius: 10px;
    width: 80%;
    top: 30vh;
    left: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: none;
  }
  
  .modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
  }
  
  .modal .modal__title {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #dbe4e6;
    background: #dbe4e6;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  
  .modal .modal__content {
    padding: 1rem;
  }
  
  .modal .modal__actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .to-do-item {
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
  }
  
  .to-do-item h2,
  .to-do-item p {
    font-size: 1rem;
    margin: 0;
  }
  
  .to-do-item h2 {
    color: #383838;
    margin-bottom: 1rem;
  }
  
  .to-do-item p {
    color: white;
    display: inline;
    background: #aa7883;
    padding: 0.25rem 1rem;
    border-radius: 15px;
  }
  
  .to-do-item__info {
    flex: 2;
    padding: 1rem;
  }
  
  .card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  #entry-text {
    width: 40rem;
    margin: 2rem auto;
    max-width: 80%;
    padding: 1rem;
  }
  
  #entry-text p {
    font-size: 1rem;
    text-align: center;
  }
  
  #items-list {
    list-style: none;
    width: 40rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 0;
  }
  
  #backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
  }
  
  #backdrop.visible {
    display: block;
    pointer-events: all;
  }
  
  #add-modal .modal__content {
    display: flex;
    flex-direction: column;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-right: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #997782;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #997782;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  footer {
    position:fixed;
    bottom:0;
  }

  .date-format {
    text-align: right;
    margin-left: 10px;
  }
  
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes fade-slide-in {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0);
    }
  }
  